  .degree {
            font-family: helvetica;
            font-size: 70px; 
            padding: 40px; 
            color: white; 
            text-shadow: 3px 3px 3px black;
  }

   .city {
            font-family: helvetica;
            font-size: 20px; 
            color: white; 
            text-shadow: 1px 1px 1px black;
            padding-top: 10px;
  }

   .weatherStatus {
            font-family: helvetica;
            font-size: 40px; 
            padding: 10px; 
            color: white; 
            text-shadow: 2px 2px 2px black;
            
  }
  .line {
            border-bottom: 2px solid white;
            max-width: 80%;
            margin-left: 22px;
  }

  .minMax {
            font-family: helvetica;
            font-size: 15px; 
            color: white; 
            text-shadow: 1px 1px 2px black;
            text-align: center;
            margin: auto;
            padding-top: 20px;
            padding-bottom: 10px;
  }

 .images img{ 
           position:absolute;
           left:0px;
           width: 280px;
           border-radius: 10px;
           /*margin-left: 2px;
           margin-top: 2px;*/
           z-index:-1;
}


  .clear {
            background-image: url('Images/clear-day.jpg'); 
            background-size: 100% 100%;
  }

 .rain {
            background-image: url('Images/rain.jpg'); 
            background-size: 100% 100%;
  }
 .sleet {
            background-image: url('Images/sleet.jpg'); 
            background-size: 100% 100%;
  }
 .snow {
            background-image: url('Images/snow.jpg'); 
            background-size: 100% 100%;
  }
 .cloudy {
            background-image: url('Images/cloudy.jpg'); 
            background-size: 100% 100%;
  }
 .clearPM {
            background-image: url('Images/clear-night.jpg'); 
            background-size: 100% 100%;
  }

 .card {
    margin:2px;
    text-align: center;
    border-radius: 10px;
    border: 5px solid beige;
    height: 425px;
    position: relative;
}

.closeBtn {
  position: absolute;
  right:0px;
  top: 0px;
  font-weight:bold;
  color:#F00;
  cursor:pointer;
  text-shadow: 1px 1px 2px dimgrey;
  padding: 5px;
}